@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Work Sans", serif;
}

hr{
    margin: 30px 5px;
    
}

/*shared style*/

.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.btn-contact{
        background-color: transparent;
        font-weight: bold;
        color: #FD6E0A;
        font-size: 20px;
        padding: 18px 35px;
        border-radius: 10px;
        border: 2px solid #FD6E0A;

    
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}

/*heaader*/

.header{

    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

/*Nav Styles

*{
    margin: 0;
    padding: 0;
}*/
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    margin: 25px;
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;


}
nav li a{
    text-decoration: none;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
}

.banner-propic{
    width: 580px;
}

/*main section*/

main{
    max-width: 1140px;
    margin: 0 auto;
    
}

main section{
    margin-top:130px;
    margin-bottom: 130px;
}

/*about me section*/
.about{
    border-radius: 10px;
    
    padding: 130px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}


/*skills*/

.skills-container{
    display: flex;
    gap: 24px;
}



.skil{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 6%);
    border-radius: 5px;
    margin-top: 50px;
}

/*resume section style*/


.section-title{
    text-align: center;
    margin-bottom: 113px;
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}

.resume-column-title{
    margin-top:13px ;
    margin-bottom: 20px;
}

.resume-container{
    display: flex;
    gap: 24px;

}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.experience-discription,.experience-sub-title{
    color: #757575;
}

.resume-download-cv{
    margin-top: 50px;
}

/*footer Style*/
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"],footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}

/*Author info*/
.author {
    text-align: center;              
    background-color: #f4f4f4;      
    padding: 20px;                
    border: 2px solid #ccc;      
    border-radius: 10px;            
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;               
    margin: 20px auto;              
}

.author h4 {
    font-size: 20px;               
    color: #333;                 
    margin-bottom: 10px;         
}

.author p {
    font-size: 14px;               
    color: #666;                   
    margin: 0;                     
}
